<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<unicorn>
			<configurations>
				<configuration name="Default Configuration">
					<targetDataStore type="Rainbow.Tfs.Storage.TfsSerializationFileSystemDataStore, Rainbow.Tfs" physicalRootPath="$(dataFolder)\Unicorn\$(configurationName)" useDataCache="false" singleInstance="true" patch:instead="targetDataStore[@type='Rainbow.Storage.SerializationFileSystemDataStore, Rainbow']" />
				</configuration>
			</configurations>
		</unicorn>
		<settings>
			<setting name="Rainbow.Tfs.Login" value="" />
			<setting name="Rainbow.Tfs.Password" value="" />
			<setting name="Rainbow.Tfs.Domain" value="" />
		</settings>
	</sitecore>
</configuration>