<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<unicorn>
			<configurations>
				<configuration name="Default Configuration">
					<sourceControlSync type="Rainbow.Tfs.SourceControl.FileSyncTfs,Rainbow.Tfs" singleInstance="true" username="username" Password="password" Domain="domain" patch:instead="sourceControlSync[@type='Rainbow.SourceControl.FileSyncDefault,Rainbow']" />
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>